* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.page {
    background: #000000;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.app-navbar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    flex: 1;
}

.client-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.client-item li span {
    margin: auto 10px;
    color: #04abc1;
    width: 200px;
}

.client-item li {
    list-style: none;
    color: #f1ba50;
}